<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div id="fixed-footer">
        <div>
           <a href="https://www.instagram.com/ezequielabreguok/" target="_blank"><i class="bi bi-instagram"></i></a>
           <a href="https://www.youtube.com/channel/UCBbeoTECWh6l4FYUmBs7YQA?view_as=subscriber" target="_blank"><i class="bi bi-youtube"></i></a>
           <a href="https://www.facebook.com/ezequiel.abregu.77" target="_blank"><i class="bi bi-facebook"></i></a>
           <a href="https://github.com/ezequielabregu?tab=repositories" target="_blank"><i class="bi bi-github"></i></a>
           <a href="mailto:ezequielabregu@gmail.com"><i class="bi bi-envelope"></i></a>
       </div>
        <div>
            <p>©2024 EZEQUIEL ABREGU</p>
        </div>
    </div>


</body>
</html>


