<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div class="col-md-12">
        <nav class="navbar navbar-default color-fill fixed-top">
  
              <div class="nav">
              </div>
              <a class="navbar-brand" href="index.html">
              <!-- <img class="logo" src="img/logo.png" alt="logo"> -->
              <h4>EZEQUIEL ABREGU</h4>
              </a>
              <div id="fixed-navbar">
                 <a class="nav-item" href="content/portfolio.html"><i class="bi bi-grid-3x3-gap works-color"></i><p class="nav-text works-color" data-translate="menu:works">works</p></a>
                 <a class="nav-item" href="content/about.html"><i class="bi bi-info-circle about-color"></i><p class="nav-text about-color" data-translate="menu:about" >about</p></a>
                 <a class="nav-item" href="content/audio.html"><i class="bi bi-soundwave audio-color"></i><p class="nav-text audio-color" data-translate="menu:audio" >audio</p></a>               
                 <a class="nav-item" href="content/text.html" ><i class="bi bi-file-text text-color"></i><p class="nav-text text-color" data-translate="menu:text">text</p></a>               
                 <a class="nav-item" href="content/links.html" ><i class="bi bi-link-45deg links-color"></i><p class="nav-text links-color" data-translate="menu:links" >links</p></a>                   
                 <a class="nav-item" href="https://github.com/ezequielabregu?tab=repositories" target="_blank"><i class="bi bi-code-slash code-color"></i><p class="nav-text code-color" data-translate="menu:code">code</p></a>                                                               
  
                 <a class="nav-item" href=""><p class="nav-text"></p></a> 
  
                 <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle btn-sm" type="button" id="dropdownMenuButtonDesktop" data-bs-toggle="dropdown" aria-expanded="false" >
                       Language
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButtonDesktop">
                       <li><a class="dropdown-item" href="#" data-lang="en">ENGLISH</a></li>
                       <li><a class="dropdown-item" href="#" data-lang="es">ESPAÑOL</a></li>
                       <li><a class="dropdown-item" href="#" data-lang="de">DEUTSCH</a></li>
                    </ul>
                 </div>          
                                
              </div>
           </nav>
                    <!-- Collapsed navbar -->
           <nav id="collapsed-navbar" class="navbar navbar-default fixed-top">
              <!-- Rest of the navbar code -->
              <div class="container"></div>
              <div class="nav">
                 <button class="btn-nav">
                 <span class="icon-bar inverted top"></span>
                 <span class="icon-bar inverted middle"></span>
                 <span class="icon-bar inverted bottom"></span>
                 </button>
              </div>
              <a class="navbar-brand" href="index.html">
              <!-- <img class="logo" src="img/logo.png" alt="logo"> -->
              </a>
              <div class="nav-content hideNav hidden">
                 <ul class="nav-list vcenter">
                    <li class="nav-item"><a class="item-anchor works-color" href="content/portfolio.html" data-translate="menu:works">works</a><i class="bi bi-grid-3x3-gap works-color"></i></li>
                    <li class="nav-item"><a class="item-anchor about-color" href="content/about.html" data-translate="menu:about">about</a><i class="bi bi-info-circle about-color"></i></li>
                    <li class="nav-item"><a class="item-anchor audio-color" href="content/audio.html" data-translate="menu:audio">audio</a><i class="bi bi-soundwave audio-color"></i></li>
                    <li class="nav-item"><a class="item-anchor text-color" href="content/text.html" data-translate="menu:text">text </a><i class="bi bi-file-text text-color"></i></li>
                    <li class="nav-item"><a class="item-anchor links-color" href="content/links.html" data-translate="menu:links">links</a><i class="bi bi-link-45deg links-color"></i></li>
                    <li class="nav-item"><a class="item-anchor code-color" href="https://github.com/ezequielabregu?tab=repositories" target="_blank" data-translate="menu:code">code </a><i class="bi bi-code-slash code-color"></i></li>
              
                    <a class="nav-item" href=""><p class="nav-text"></p></a> 
        
                    <li class="nav-item">
                       <div class="dropdown">
                          <button class="btn btn-dark dropdown-toggle btn-sm" type="button" id="dropdownMenuButtonMobile" data-bs-toggle="dropdown" aria-expanded="false" >
                             Language
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButtonMobile">
                             <li><a class="dropdown-item" href="#" data-lang="en">ENGLISH</a></li>
                             <li><a class="dropdown-item" href="#" data-lang="es">ESPAÑOL</a></li>
                             <li><a class="dropdown-item" href="#" data-lang="de">DEUTSCH</a></li>
                          </ul>
                       </div>
                    </li>                  
              
                 </ul>
              </div>
           </nav>
           </div>    
</body>

</html>